html, body{
    width: 100%;
    height: 100%;
    background: indigo;
    margin: 0;
}
html::-webkit-scrollbar, .sidebar::-webkit-scrollbar, .easel::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}

/* ----------------------------------------------------------------------------------------------- */
/* this is the header section */
.header{
    display: flex;
    align-items: center;
}
.header-card{
    box-sizing: content-box;
    display: flex;
    align-items: center;
}
.header-card-logo{
    width: 5vh;
    height: auto;
    margin: 2.3vh;
}
.header-card-title{
    margin: 0;
    text-align: center;
    padding-right: 20px;
    color: white;
}
.header-toolbar{
    box-sizing: border-box;
}
.patreon{
    box-sizing: content-box;
    display: flex;
    align-items: center;
    width: 20vw;
}

/* ---------------------------------------------------------------------------------------------- */
/* Sidebar section */
.sidebar{
    width: calc(7 * calc(100vw / 40));
    float: right;
    height: calc(100% - 10vh);
    overflow: auto;
    background: indigo;
}
.sidebar-characters{
    width: 50%;
    float: left;
    align-items: center;
}
.hero{
    display: flex;
    width: calc(100vw / 40);
    height: calc(100vw / 40);
    float: left;
}
.hero>img{
    display: block;
    width: 100%;
}

/* ----------------------------------------------------------------------------------------------- */
/* map and canvas section */
/* this part is how we target gud :D */
.easel{
    position: relative;
    overflow-y: auto;
    width: 100%;
    height: calc(100% - 10vh);
}
.canvas{
    position: absolute;
}
/* map styling on selection */
.map-styling{
    width: 100%; 
}

/* ---------------------------------------------------------------------------------------------- */
/* Dropdown Buttons section */
.toolbar-btn, .closeBtn, .closeBtn2{
    color: black;
    padding: 10px;
    margin: 1px;
    border-radius: 10px;
    background-color: turquoise;
    font-size: 16px;
    border: none;
    cursor: pointer;
}
.closeBtn, .closeBtn2{
    margin: 0 0 10px 20px;
}
.toolbar-btn:hover,
.closeBtn:hover,
.closeBtn2:hover {
    background-color: rgb(8, 156, 201);
}

.toolbar-item{
    position: relative;
    display: inline-block;
}

.maps-list, .ddColorsBtn-content, sidebar {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    z-index: 80;
}

.maps-list > div {
    color: black;
    padding: 8px 16px;
    display: block;
    cursor: pointer;
}
.colorLi{
    padding: 16px;
    display: block;
    cursor: pointer;
}
    /* Dropdown section for color */
    #colorLi-red{background-color: red;}
    #colorLi-blue{background-color: blue;}
    #colorLi-black{background-color: black;}
    #colorLi-white{background-color: white;}
    #colorLi-purple{background-color: purple;}
    #colorLi-green{background-color: green;}
    #colorLi-pink{background-color: pink;}
    #colorLi-orange{background-color: orange;}
    #colorLi-yellow{background-color: yellow;}

/* Change color of dropdown links on hover */
.maps-list>div:hover {background-color: rgb(8, 156, 201)}

/* show/hide the dropdowns */
.show {
    display:block;
}

/* ------------------------------------------------------------------------------------------------------ */
/* the pop out section for the about-div and hotkey div and gives them a bit of styling */
.about-div, .hotkey-div{
    position: fixed;
    top: 100px;
    border: solid white 3px;
    border-radius: 5px;
    background-color: black;
    width: 30%;
    z-index: 1000;
}
.about-p, .hotkey-p{
    color: white;
    width: 90%;
    margin: 10px auto;
}

/* --------------------------------------------------------------------------------------------------------- */
/* giving the heroes team colors & making them circular */
.redHero, .blueHero, .moved{
    border-radius: 50%;
    border: solid 2px;
}
.redHero>img, .blueHero>img, .moved>img{
    border-radius: 50%;
}
.redHero{
    border-color: red;
}
.blueHero{
    border-color: blue;
}
